.btn {
  border-radius: 10px;
  height: 50px;
  padding: 20px 50px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 20px;
}

.btn-dark {
  background-color: #393c40;
  color: $white-color;
}

.btn-light {
  background-color: $cream-color;
  color: $dark-color;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: none;
  // display: flex;

  .clickBox {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba($white-color, 0.8);

    .closeX {
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 50px;
      cursor: pointer;
      color: $dark-color;
    }
  }

  .alert-box {
    position: relative;
    padding: 20px;
    color: $white-color;
    width: 600px;
    height: 350px;
    background-color: $dark-color;
    margin: auto;
    border-radius: 10px;
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    input {
      height: 50px;
      border-radius: 4px;
      width: 30%;
      font-size: 20px;
    }

    input[type='text'] {
      text-align: center;
    }
  }
}
